*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #c69963; }

.heading-4 {
  font-size: 1.8rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn:link, .btn:visited {
  background-color: #c69963;
  padding: 1.8rem 3rem;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: #f9f7f6;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  transition: all .3s; }

.btn:hover, .btn:active {
  background-color: #B28451; }

.u-mb-2 {
  margin-bottom: 2rem; }

.u-mb-3 {
  margin-bottom: 3rem; }

.u-mb-4 {
  margin-bottom: 4rem; }

.u-mb-6 {
  margin-bottom: 6rem; }

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 /  -1;
  background-color: #c69963; }

.header {
  grid-column: full-start / col-end 6;
  background-color: #54483A; }

.realtors {
  grid-column: col-start 7 / full-end;
  background-color: #101d2c; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2rem; }
  .feature__icon {
    grid-row: 1 / span 2;
    fill: #c69963;
    height: 4.5rem;
    width: 4.5rem;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.story__pictures {
  grid-column: full-start / col-end 4;
  background-color: #c69963;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center; }

.story__img--1 {
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  width: 100%;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2); }

.story__img--2 {
  grid-row: 4 / 6;
  grid-column: 4 / 7;
  width: 115%;
  z-index: 20;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2); }

.story__content {
  grid-column: col-start 5 / full-end;
  background-color: #f9f7f6;
  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 5rem; }

.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.home {
  background-color: #f9f7f6; }
  .home__img {
    width: 100%; }
  .home__like {
    width: 3rem;
    height: 3rem;
    fill: #c69963; }
  .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
    height: 2rem;
    width: 2rem;
    fill: #c69963; }
  .home__location p, .home__rooms p, .home__area p, .home__price p {
    font-size: 1.6rem; }

.gallery {
  grid-column: full-start / full-end;
  background-color: #54483A; }

.footer {
  grid-column: full-start / full-end;
  background-color: #101d2c; }
