*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem); } }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #c69963; }

.heading-4 {
  font-size: 1.8rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn:link, .btn:visited {
  background-color: #c69963;
  padding: 1.5rem 3rem;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: #f9f7f6;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: all .3s; }

.btn:hover, .btn:active {
  background-color: #B28451; }

.u-mb-2 {
  margin-bottom: 2rem; }

.u-mb-3 {
  margin-bottom: 3rem; }

.u-mb-4 {
  margin-bottom: 4rem; }

.u-mb-6 {
  margin-bottom: 6rem; }

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 /  -1;
  background-color: #c69963;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      grid-column: 1 / -1;
      grid-row: 1 /  2;
      justify-content: flex-end;
      align-items: center; } }

.nav-btn {
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  margin-top: 2rem; }
  .nav-btn__icon {
    fill: #f9f7f6;
    height: 100%;
    width: 100%; }
  @media only screen and (max-width: 62.5em) {
    .nav-btn {
      margin-top: 0;
      margin-right: 2rem; } }

.header {
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.9)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-gap: 1.5rem;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 5rem; } }
  .header__logo {
    justify-self: center;
    height: 3rem; }
  .header__btn {
    align-self: start;
    justify-self: start; }
  .header__seenon-text {
    font-size: 1.6rem;
    color: #aaa;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center; }
    .header__seenon-text::before, .header__seenon-text::after {
      content: "";
      display: block;
      height: 1px;
      background-color: currentColor; }
  .header__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    justify-items: center;
    align-items: center; }
    .header__seenon-logos img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%); }

.realtors {
  grid-column: col-start 7 / full-end;
  background-color: #101d2c;
  padding: 3rem;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-row-gap: 2rem; }
  @media only screen and (max-width: 50em) {
    .realtors {
      grid-column: 1 / -1; } }
  .realtors__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .realtors__list {
        grid-template-columns: repeat(3, min-content max-content); } }
    @media only screen and (max-width: 37.5em) {
      .realtors__list {
        grid-template-columns: min-content max-content; } }
  .realtors__img {
    display: block;
    width: 7rem;
    border-radius: 50%; }
  .realtors__sold {
    text-transform: uppercase;
    color: #aaa;
    margin-top: -3px; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }
  @media only screen and (max-width: 37.5em) {
    .features {
      margin: 10rem 0; } }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2rem; }
  .feature__icon {
    grid-row: 1 / span 2;
    fill: #c69963;
    height: 4.5rem;
    width: 4.5rem;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.story__pictures {
  grid-column: full-start / col-end 4;
  background-color: #c69963;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .story__pictures {
      grid-column: 1 / -1;
      padding: 6rem; } }

.story__img--1 {
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  width: 100%;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 50em) {
    .story__img--1 {
      grid-column: 1 / 5;
      grid-row: 1 / -1; } }

.story__img--2 {
  grid-row: 4 / 6;
  grid-column: 4 / 7;
  width: 115%;
  z-index: 20;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 50em) {
    .story__img--2 {
      grid-column: 4 / -1;
      grid-row: 2 / 6;
      width: 100%; } }

.story__content {
  grid-column: col-start 5 / full-end;
  background-color: #f9f7f6;
  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .story__content {
      grid-column: 1 / -1;
      grid-row: 5 / 6; } }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 5rem; }

.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }
  @media only screen and (max-width: 37.5em) {
    .homes {
      margin: 10rem 0; } }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem; }
  .home__img {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 1;
    width: 100%; }
  .home__like {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    z-index: 2;
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    fill: #c69963; }
  .home__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: end;
    z-index: 3;
    transform: translateY(50%);
    width: 80%;
    font-size: 1.6rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: #f9f7f6;
    text-align: center;
    background-color: #101d2c;
    padding: 1.25rem; }
  .home__location, .home__rooms {
    margin-top: 2.5rem; }
  .home__location, .home__rooms, .home__area, .home__price {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      height: 2rem;
      width: 2rem;
      fill: #c69963; }
    .home__location p, .home__rooms p, .home__area p, .home__price p {
      font-size: 1.6rem; }
  .home__button {
    grid-column: 1 / -1; }

.gallery {
  grid-column: full-start / full-end;
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2; }
  .gallery__item--2 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 3; }
  .gallery__item--3 {
    grid-column: 6 / span 1;
    grid-row: 1 / span 2; }
  .gallery__item--4 {
    grid-column: 7 / span 2;
    grid-row: 1 / span 2; }
  .gallery__item--5 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 3; }
  .gallery__item--6 {
    grid-column: 3 / span 2;
    grid-row: 4 / span 2; }
  .gallery__item--7 {
    grid-column: 5 / span 1;
    grid-row: 4 / span 1; }
  .gallery__item--8 {
    grid-column: 6 / span 2;
    grid-row: 3 / span 2; }
  .gallery__item--9 {
    grid-column: 8 / span 1;
    grid-row: 3 / span 3; }
  .gallery__item--10 {
    grid-column: 1 / span 1;
    grid-row: 6 / span 2; }
  .gallery__item--11 {
    grid-column: 2 / span 2;
    grid-row: 6 / span 2; }
  .gallery__item--12 {
    grid-column: 4 / span 1;
    grid-row: 6 / span 2; }
  .gallery__item--13 {
    grid-column: 5 / span 3;
    grid-row: 5 / span 3; }
  .gallery__item--14 {
    grid-column: 8 / span 1;
    grid-row: 6 / span 2; }
  .gallery__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.footer {
  grid-column: full-start / full-end;
  background-color: #101d2c;
  padding: 8rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 5rem; } }

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;
  gap: 2rem;
  list-style: none; }
  .nav__link:link, .nav__link:visited {
    padding: 1.5rem;
    display: block;
    color: #f9f7f6;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    transform: translateY(-3px);
    background-color: rgba(249, 247, 246, 0.05); }

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  text-align: center; }
