.footer {
    grid-column: full-start / full-end;
    
    background-color: $color-secondary;
    padding: 8rem;
}

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    gap: 2rem;

    list-style: none;

    &__item {
    }

    &__link {
        &:link,
        &:visited {
            padding: 1.5rem;
            display: block;

            color: $color-grey-light-1;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.4rem;
            font-family: $font-display;
            text-align: center;

            
            transition: all .2s;
        }

        &:hover,
        &:active {
            transform: translateY(-3px);
            background-color: rgba($color-grey-light-1, .05);
        }
    }
}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-2;
    margin-top: 6rem;
    text-align: center;
}