.homes {
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;

    @media only screen and (max-width: $bp-small) {
        margin: 10rem 0;
    }
}

.home {
    background-color: $color-grey-light-1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;

    &__img {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 1;

        width: 100%;
    }

    &__like {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: end;
        z-index: 2;
        margin: 1rem;

        width: 3rem;
        height: 3rem;
        fill: $color-primary;
    }

    &__title {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: end;
        z-index: 3;
        transform: translateY(50%);

        width: 80%;
        font-size: 1.6rem;
        font-family: $font-display;
        font-weight: 400;
        color: $color-grey-light-1;
        text-align: center;
        background-color: $color-secondary;
        padding: 1.25rem;
    }

    &__location,
    &__rooms {
        margin-top: 2.5rem;
    }

    &__location,
    &__rooms,
    &__area,
    &__price {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: 2rem;

        svg {
            height: 2rem;
            width: 2rem;
            fill: $color-primary;
        }

        p {
            font-size: 1.6rem;
        }
    }

    &__button {
        grid-column: 1 / -1;
    }
}