.homes {
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
}

.home {
    background-color: $color-grey-light-1;

    &__img {
        width: 100%;
    }

    &__like {
        width: 3rem;
        height: 3rem;
        fill: $color-primary;
    }

    &__title {

    }

    &__location,
    &__rooms,
    &__area,
    &__price {
        svg {
            height: 2rem;
            width: 2rem;
            fill: $color-primary;
        }

        p {
            font-size: 1.6rem;
        }
    }
}