.story {
    &__pictures {
        grid-column: full-start / col-end 4;

        background-color: $color-primary;
        background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(../img/back.jpg);

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        align-items: center;
    }

    &__img--1 {
        grid-row: 2 / 6;
        grid-column: 2 / 6;

        width: 100%;
        box-shadow: $sh-light;
    }

    &__img--2 {
        grid-row: 4 / 6;
        grid-column: 4 / 7;

        width: 115%;
        z-index: 20;
        box-shadow: $sh-light;
    }

    &__content {
        grid-column: col-start 5 / full-end;

        background-color: $color-grey-light-1;
        padding: 6rem 8vw;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    &__text {
        font-size: 1.5rem;
        font-style: italic;

        margin-bottom: 5rem;
    }
}