//////////////////////////
// HEADINGS
/////////////////////////

%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;

    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-grey-dark-1; }
}

.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $color-primary;
}

.heading-4 {
    @extend %heading;
    font-size: 1.8rem;

    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-grey-dark-1; }
}


//////////////////////////
// BUTTONS
/////////////////////////

.btn {
    &:link,
    &:visited {
        background-color: $color-primary;
        padding: 1.5rem 3rem;

        font-family: $font-display;
        text-decoration: none;
        color: $color-grey-light-1;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        cursor: pointer;

        transition: all .3s;
    }

    &:hover,
    &:active {
        background-color: $color-primary-dark;
    }
}